/**
** - Editor
** - Toolbar
** - Image Menu
** - File element
** - Meta Item
** - Link Menu
*/

/** Editor **/

.striven-editor {
	border: 1px solid #ddd;
	background-color: #fff;
	display: flex;
	position: relative;
	flex-direction: column;
	font-family: Arial;
	max-width: 100%;
}

.striven-editor .se-body {
	position: relative;
	outline: none;
	padding: 10px 20px;
	min-height: auto;
	max-height: auto;
	height: auto;
}

.striven-editor .se-body:empty::after {
	content: attr(data-placeholder);
	color:#777;
}

.striven-editor .se-body .se-file-drop-dropzone {
	height: 90%;
	width: 95%;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	position: absolute;
	border: 5px dashed #ddd;
	display: flex;
	justify-content: center;
	align-items: center;
}	

.striven-editor .se-body .se-file-drop-dropzone p {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #777;
	user-select: none;
	text-align: center;
	font-size: 25px;
}

/** Toolbar **/

.striven-editor .se-toolbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.striven-editor .se-toolbar-options {
	margin: 0 10px;
}

.striven-editor .se-toolbar-option {
	padding: 8px;
}

.striven-editor .se-toolbar-group[data-open="true"] .se-toolbar-option {
	background-color: #fff;
	border: 1px solid #ddd;
	margin: 0 2px;	
}

.striven-editor .se-toolbar-group[data-open="true"] .se-toolbar-option:hover {
	background-color: #ddd;
}

.striven-editor .se-toolbar-option > svg {
	transform: scale(1);
	vertical-align: middle;
}

.striven-editor .se-toolbar-option:hover,
.striven-editor .se-toolbar-option:focus,
.striven-editor .se-toolbar-option:active {
	background-color: #ddd;
}

.striven-editor .se-toolbar #toolbar-template {
	height: 40px;
	flex-grow: 1;
	justify-content: flex-end;
}

/** File Element **/

.striven-editor .se-file {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 10px;
	position: relative;
}

.striven-editor p.se-file-name {
	font-weight: bold;
	font-size: 14px;
	margin: 0;
}

.striven-editor .se-file-size {
	font-size: 12px;
	margin: 2px 0;
}

.striven-editor .se-remove-link {
	margin: 0;
	user-select: none;
	color: black;
	position: absolute;
	right: 5px;
	top: -5px;
	cursor: pointer;
	background-color: #fff
}
.striven-editor .se-remove-link:hover,
.striven-editor .se-remove-link:focus,
.striven-editor .se-remove-link:active
{
	color:#ddd;
}

/** Meta Item **/

.striven-editor .se-meta-item {
	width: 100%;
	display: flex;
	margin: 10px;
	position: relative
}

.striven-editor .se-meta-image {
	margin-right: 10px;
	height: 50px;
	width: 75px;
}

.striven-editor .se-meta-data-title {
	font-weight: bold;
	margin: 0;
}

.striven-editor .se-metadata-section,
 .striven-editor .se-files-section {
	display: flex;
	flex-wrap: wrap;
	z-index: 500
}

/** Popup Menu **/

.striven-editor .se-popup {
	visibility: hidden;
	position: absolute;
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 10px 20px;
	z-index: 1000;
	opacity: 0;
	transition: opacity 500ms, transform 500ms;
}

.striven-editor .se-popup.se-popup-top {
	top: 40px;
	transform: translateY(-30px);
}

.striven-editor .se-popup.se-popup-bottom {
	bottom: 40px;
	transform: translateY(30px);	
}

.striven-editor .se-popup.se-popup-open {
	visibility: visible;
	transform: translateY(0);
	opacity: 1;
}

.striven-editor .se-popup > .se-popup-form {
	display: flex;
	justify-content: space-between;
	margin: 5px 0;
}

.striven-editor .se-popup > .se-popup-form > .se-form-label {
	margin: 8px 10px 8px 0;
	font-size: 14px;
	width: 100%;
	text-align: right;
	margin-right: 10px;
}

.striven-editor .se-popup > .se-popup-form >.se-form-input {
	outline: none;
	padding: 0 5px;
}


.striven-editor .se-popup-button-container
{
	float:right;
}

.striven-editor .se-popup-button{
	cursor: pointer;
	padding: 6px 12px;
	border: 1px solid transparent;
	font-size: 14px;
	outline: none;
	color: #333;
	margin:2px;
}

.striven-editor .se-popup-button.se-button-primary{
	border-color: #4cae4c;
	background-color: #5cb85c;
	color: #fff;
}
.striven-editor .se-popup-button.se-button-secondary{
	border-color: #ccc;
	background-color: #fff;
	color: #333;
}
.striven-editor .se-popup-button.se-button-primary:hover,
.striven-editor .se-popup-button.se-button-primary:active,
.striven-editor .se-popup-button.se-button-primary:focus{
	background-color: #4cae4c;
    border-color: #398439;
}
.striven-editor .se-popup-button.se-button-secondary:hover,
.striven-editor .se-popup-button.se-button-secondary:active,
.striven-editor .se-popup-button.se-button-secondary:focus{
	background-color: #d4d4d4;
    border-color: #8c8c8c;
}

